@inherits LayoutComponentBase

<PageTitle>TablaDeHash</PageTitle>

<div class="main-layout">
    <div class="top-row px-4 navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">TablaDeHash</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
